body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    background: url('backgroung.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
    padding: 50px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    max-width: 600px;
    margin: 100px auto;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    font-size: 1.2em;
}

.button-link {
    display: inline-block;
    background-color: #ffcc00;
    color: black;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.button-link:hover {
    background-color: #ff9900;
}
